<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="160" />
    </settings>
    <unicorn>
      <authenticationProvider type="Unicorn.ControlPanel.Security.ChapAuthenticationProvider, Unicorn">
        <SharedSecret>dUXMcHFJeVJ2e8CANZ3EHJVcJLCQqtyDgNeNjV8VSvpzR9wGzTbRsgS9p7be</SharedSecret>
      </authenticationProvider>
      <configurations>
        <configuration name="DSP.Foundation" description="The DSP Foundation items">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Deloitte">
              <exclude children="true">
                <except name="Features" />
                <except name="Sites" />
                <except name="Foundation" />
              </exclude>
              <exclude childrenOfPath="Features" />
              <exclude childrenOfPath="Sites" />
            </include>
            <include name="Renderings.Folder" database="master" path="/sitecore/layout/Renderings/Features">
              <exclude children="true"/>
            </include>
            <include name="TriageWorkflow" database="master" path="/sitecore/system/Workflows/Triage Workflow" />
            <include name="DspstarterWorkflow" database="master" path="/sitecore/system/Workflows/Dspstarter Workflow" />
            <include name="Content.GlobalConfiguration" database="master" path="/sitecore/content/Configuration">
              <exclude childrenOfPath="Triage Workflow Settings" />
            </include>
            <include name="FieldRules" database="master" path="/sitecore/system/Settings/Validation Rules/Field Rules/Deloitte" />
            <!-- Media item templates included in search (Adding metadata) -->
            <include name="Media.Unversioned" database="master" path="/sitecore/templates/System/Media/Unversioned" />
            <include name="Media.Versioned" database="master" path="/sitecore/templates/System/Media/Versioned" />
            <include name="Media.Folder" database="master" path="/sitecore/media library/System/Features">
              <exclude children="true"/>
            </include>
            <!--Key Sitecore Core items which have updated permissions -->
            <include name="Languages" database="master" path="/sitecore/system/Languages"/>
            <include name="Core.ExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/DSP">
              <exclude childrenOfPath="Features">
              </exclude>
            </include>
            <include name="Core.EditFrameButtons" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/DSP">
              <exclude childrenOfPath="Features">
              </exclude>
            </include>
            <include name="Core.Permissions.ArchiveButton" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Schedule">
              <exclude children="true">
                <except name="Archive" />
              </exclude>
            </include>
            <include name="Core.Permissions.CopyingMenu" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Copying">
              <exclude children="true"/>
            </include>
            <include name="Core.EditorProfiles" database="core" path="/sitecore/system/Settings/Html Editor Profiles/DSP">
              <exclude children="true"/>
            </include>
            <include name="Core.RichTextEditorHtmlOption" database="core" path="/sitecore/system/Field types/Simple Types/Rich Text/Menu/Edit Html">
              <exclude children="true"/>
            </include>
            <include name="Core.Permissions.SortingMenu" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Sorting">
              <exclude children="true"/>
            </include>
            <include name="Core.Permissions.SortingRibbon" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Sorting"/>
            <include name="Core.Permissions.UserManagerMenu" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Programs/Security">
              <exclude children="true">
                <except name="User Manager" />
              </exclude>
            </include>
            <include name="Core.Permissions.UserManagerStartMenu" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Right/Security Tools">
              <exclude children="true">
                <except name="User manager" />
              </exclude>
            </include>
            <include name="Core.Permissions.UserManagerApplication" database="core" path="/sitecore/content/Applications/Security">
              <exclude children="true">
                <except name="User Manager">
                  <exclude children="true">
                  </exclude>
                </except>
                <except name="Edit User" />
              </exclude>
            </include>
            <include name="Core.Permissions.UserManagerControlPanel" database="core" path="/sitecore/content/Applications/Control Panel/Security">
              <exclude children="true">
                <except name="Open User Manager" />
              </exclude>
            </include>
            <include name="Core.Permissions.UserManagerLaunchPad" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Security">
              <exclude children="true">
                <except name="UserManager" />
              </exclude>
            </include>
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
          <!--Roles-->
          <roleDataStore physicalRootPath="$(sourceFolder)\Foundation\serialization\Roles" type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="sitecore" pattern="^Can" />
            <include domain="sitecore" pattern="^Base" />
          </rolePredicate>
          <roleSyncConfiguration removeOrphans="false" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
