<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <linkManager defaultProvider="sitecore">
      <providers>
        <!-- DSP: link provider configuration -->
        <add name="sitecore" patch:instead="*[@name='sitecore']"
             type="DSP.Foundation.LinkManager.BucketEnabledLinkManager, DSP.Foundation"
             addAspxExtension="false"
             alwaysIncludeServerUrl="false"
             encodeNames="true"
             languageEmbedding="never"
             languageLocation="filePath"
             lowercaseUrls="true"
             shortenUrls="true"
             useDisplayName="false" />
      </providers>
    </linkManager>

    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-"/>
    </encodeNameReplacements>

    <pipelines>
      <initialize>
        <!-- DSP: set custom model locator -->
        <processor type="DeloitteDigital.Atlas.Mvc.PipelineProcessors.SetModelLocator, DeloitteDigital.Atlas" />
      </initialize>
      <mvc.getModel>
        <!-- DSP: resolve model object based on the rendering model type declared at the view file  -->
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetModel.CreateDefaultRenderingModel, Sitecore.Mvc']"
          type="DeloitteDigital.Atlas.Mvc.PipelineProcessors.ResolveModelFromViewFile, DeloitteDigital.Atlas" />
      </mvc.getModel>
      <mvc.renderRendering>
        <!-- DSP: catch exception at render time -->
        <!-- TODO: Sitecore now seems to ship an error strategy for the renderer, we should hook into that instead of replacing the renderer. -->
        <processor patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" type="DeloitteDigital.Atlas.Mvc.ErrorHandling.ExecuteRendererAndHideOnException, DeloitteDigital.Atlas" />
      </mvc.renderRendering>
      <getRenderingDatasource>
        <processor type="DeloitteDigital.Atlas.Multisite.Datasource.GetDatasourceLocationFromProviders, DeloitteDigital.Atlas" 
                   patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
      </getRenderingDatasource>
      <renderField>
        <!-- Used for: support for responsive images -->
        <processor patch:after="*[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
            type="DSP.Foundation.Pipelines.RenderField.GetImageFieldValueResponsive, DSP.Foundation"/>
      </renderField>
      <httpRequestBegin>
        <!-- Used for: Bucket item resovler -->
        <processor type="DSP.Foundation.Pipelines.HttpRequestBegin.BucketItemResolver, DSP.Foundation"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
        <!-- Used for: setting a custom 404 page, patch right before Sitecore executes the request -->
        <processor type="DSP.Foundation.Pipelines.HttpRequestBegin.ItemNotFoundProcessor, DSP.Foundation" 
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" />
      </httpRequestBegin>

      <!-- include .xml in extensions handled by Sitecore -->
      <preprocessRequest help="Processors should derive from Sitecore.Pipelines.PreprocessRequest.PreprocessRequestProcessor">
        <processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
          <param desc="Allowed extensions (comma separated)">aspx, ashx, asmx, xml</param>
        </processor>
      </preprocessRequest>
    </pipelines>

    <settings>
      <setting name="Media.UseItemPaths" value="false" patch:instead="*[@name='Media.UseItemPaths']"  />
      <setting name="dspstarter.RichTextEditor.Stylesheet">
        <patch:attribute name="value">/assets/css/rte/rte.css</patch:attribute>
      </setting>
      <setting name="dspstarter.RichTextEditor.EmptyTableStylesheet" value="/assets/css/rte/empty-table-layout.css" />
      <setting name="dspstarter.RichTextEditor.ContentAreaCssFile" value ="/assets/css/style.css"/>
      <setting name="WebStylesheet" set:value="/assets/css/style.css" />  
      <setting name="LayoutNotFoundUrl" set:value="/notfound/" />
      <setting name="ItemNotFoundUrl" set:value="/notfound/" />
      <setting name="LinkItemNotFoundUrl" set:value="/notfound/" />
    </settings>

    <!-- cache invalidate events -->
    <events timingLevel="custom">
      <event name="publish:complete">
        <handler type="DeloitteDigital.Atlas.Caching.Events.ClearCacheOnPublishEnd, DeloitteDigital.Atlas" method="OnPublishComplete" />
      </event>
      <event name="publish:complete:remote">
        <handler type="DeloitteDigital.Atlas.Caching.Events.ClearCacheOnPublishEnd, DeloitteDigital.Atlas" method="OnPublishComplete" />
      </event>
      <event name="indexing:end">
        <handler type="DeloitteDigital.Atlas.Caching.Events.ClearCacheOnPublishEnd, DeloitteDigital.Atlas" method="OnPublishComplete" />
      </event>
      <event name="indexing:end:remote">
        <handler type="DeloitteDigital.Atlas.Caching.Events.ClearCacheOnPublishEnd, DeloitteDigital.Atlas" method="OnPublishComplete" />
      </event>
    </events>

    <services>
      <configurator type="DSP.Foundation.DependencyInjection.RegisterDependencies, DSP.Foundation" />
    </services>
  </sitecore>
</configuration>