<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor patch:before="*[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"
                   type="DeloitteDigital.Atlas.DynamicPlaceholders.Pipelines.GetPlaceholderRenderings.GetDynamicKeyAllowedRenderings, DeloitteDigital.Atlas" />
      </getPlaceholderRenderings>

      <getChromeData>
        <processor patch:after="*[@type='Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel']"
                   type="DeloitteDigital.Atlas.DynamicPlaceholders.Pipelines.GetChromeData.GetDynamicPlaceholderChromeData, DeloitteDigital.Atlas" />
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>