<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <!-- used as base folder for Unicorn serialisation -->
    <sc.variable name="sourceFolder" value="C:\dsp-starter-project-task-sitecore9\src" />    
  </sitecore>
</configuration>