<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <setting name="DSP.Business.Search.Filters.SearchableMediaItemFilter.AllowedExtensions" value="pdf|docx|doc" />
    </settings>

    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_web_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <!-- Use the SwitchOnRebuild index instead to ensure the web index stays up (readonly) during a full rebuild -->
            <!--<patch:attribute name="type" value="Sitecore.ContentSearch.LuceneProvider.SwitchOnRebuildLuceneIndex, Sitecore.ContentSearch.LuceneProvider" />-->
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <!-- COMPUTED INDEX FIELDS 
               This setting allows you to add fields to the index that contain values that are computed for the item that is being indexed.
               You can specify the storageType and indextype for each computed index field in the <fieldMap><fieldNames> section.
            -->
            <fields hint="raw:AddComputedIndexField">
              <!-- ContentFromDataSources includes single line, multiline text, rich text etc for all data source items of a page. -->
              <field fieldName="_content" type="DSP.Business.Search.ComputedFields.ContentFromDataSources, DSP.Business.Search"/>

              <field fieldName="hasrendering" type="DSP.Business.Search.ComputedFields.HasRendering, DSP.Business.Search"/>
              <field fieldName="ismediaitem" type="DSP.Business.Search.ComputedFields.IsMediaItem, DSP.Business.Search"/>
              <field fieldName="pagesummary" type="DSP.Business.Search.ComputedFields.PageSummary, DSP.Business.Search"/>

              <field fieldName="contenttagsfacet" type="DSP.Business.Search.ComputedFields.ContentTagsFacet, DSP.Business.Search" />
              <field fieldName="autocompletetitle" type="DSP.Business.Search.ComputedFields.AutocompleteTitle, DSP.Business.Search" />

              <!-- BoostedContent is currently Title, MetaKeywords and MetaDescription.  -->
              <field fieldName="_boostedcontent" type="DSP.Business.Search.ComputedFields.BoostedContent, DSP.Business.Search"/>

              <!-- automated tags - generates extra field on item like {Automatedtag_guid:Value} -->
              <field fieldName="automatedtags" type="DSP.Business.Search.ComputedFields.AutomatedTags.AutomatedTagsFacet, DSP.Business.Search" />

              <!-- sorttitle - allow case insensitive sorting -->
              <field fieldName="sorttitle" type="DSP.Business.Search.ComputedFields.SortTitle, DSP.Business.Search" />

            </fields>

            <exclude hint="list:AddExcludedField">
              <!-- Have __created on the index for sort by date (this might change on a project, e.g. use a content managed field) -->
              <__Created>
                <patch:delete/>
              </__Created>
            </exclude>
          </documentOptions>

          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">

            <typeMatches hint="raw:AddTypeMatch">
              <typeMatch typeName="guidCollection"     type="System.Collections.Generic.List`1[System.Guid]"     fieldNameFormat="{0}_sm"  multiValued="true"                    settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="stringCollection"   type="System.Collections.Generic.List`1[System.String]"   fieldNameFormat="{0}_sm"  multiValued="true"                    settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="intCollection"      type="System.Collections.Generic.List`1[System.Int32]"    fieldNameFormat="{0}_im"  multiValued="true"                    settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="idCollection"       type="System.Collections.Generic.List`1[Sitecore.Data.ID, Sitecore.Kernel]" fieldNameFormat="{0}_sm"  multiValued="true"  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="guid"               type="System.Guid"                                        fieldNameFormat="{0}_s"                                         settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="id"                 type="Sitecore.Data.ID, Sitecore.Kernel"                  fieldNameFormat="{0}_s"                                         settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="shortid"            type="Sitecore.Data.ShortID, Sitecore.Kernel"             fieldNameFormat="{0}_s"                                         settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="text"               type="System.String"                                      fieldNameFormat="{0}_t"   cultureFormat="_{1}"                  settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="string"             type="System.String"                                      fieldNameFormat="{0}_s"                                         settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="int"                type="System.Int32"                                       fieldNameFormat="{0}_tl"                                        settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="bool"               type="System.Boolean"                                     fieldNameFormat="{0}_b"                                         settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="datetime"           type="System.DateTime"                                    fieldNameFormat="{0}_tdt" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="long"               type="System.Int64"                                       fieldNameFormat="{0}_tl"                                        settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="float"              type="System.Single"                                      fieldNameFormat="{0}_tf"                                        settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="double"             type="System.Double"                                      fieldNameFormat="{0}_td"                                        settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="stringArray"        type="System.String[]"                                    fieldNameFormat="{0}_sm"  multiValued="true"                    settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="intArray"           type="System.Int32[]"                                     fieldNameFormat="{0}_im"  multiValued="true"                    settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="datetimeArray"      type="System.DateTime[]"                                  fieldNameFormat="{0}_dtm" multiValued="true"                    settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="datetimeCollection" type="System.Collections.Generic.List`1[System.DateTime]" fieldNameFormat="{0}_dtm" multiValued="true"                    settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </typeMatches>

            <!-- SOLR Switch: The below should be similar to the Lucene index only you switched returnType and remove everything else that you will see in Lucene index -->
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="hasrendering" returnType="bool"/>
              <field fieldName="ismediaitem" returnType="bool" />
              <field fieldName="pagesummary" returnType="string" />
              <field fieldName="pagesubheading" returnType="string" />
              <field fieldName="description" returnType="string" />
              <!-- override the default extension field so we can get it in the search results -->
              <field fieldName="extension" returnType="string"/>

              <field fieldName="title" returnType="string"/>
              <field fieldName="shorttitle" returnType="string"/>
              <field fieldName="sorttitle" returnType="string"/>
              <!-- Tagging -->
              <field fieldName="contenttags" returnType="idCollection"/>
              <field fieldName="contenttagsfacet" returnType="idCollection"/>
              <field fieldName="automatedtags" returnType="idCollection"/>

              <field fieldName="isfeatured" returnType="bool"/>

              <!-- Autocomplete -->
              <field fieldName="autocompletetitle" returnType="string" >
                <analyzer type="DSP.Business.Search.Analyzers.AutocompleteNGramAnalyzer, DSP.Business.Search">
                  <param hint="version">Lucene_30</param>
                  <param hint="minGram">3</param>
                  <param hint="maxGram">20</param>
                </analyzer>
              </field>

              <!-- Boosted content - adjust boost value as needed -->
              <field fieldName="_boostedcontent" returnType="string"/>

              <!-- Configuring the statistics __created field to be stored and displayed (this might change on a project, e.g. use a content managed field) -->
              <field fieldName="__created" returnType="datetime"/>

              <field fieldName="publicationdate" returnType="datetime" />
            </fieldNames>
          </fieldMap>

        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>


    <pipelines>
      <indexing.getDependencies help="Processors should derive from Sitecore.ContentSearch.Pipelines.GetDependencies.BaseProcessor">
        <!-- When indexing an item, make sure any items for whom it is a datasource get re-indexed as well -->
        <processor type="DSP.Business.Search.Pipelines.GetDatasourceDependencies, DSP.Business.Search"/>
      </indexing.getDependencies>
    </pipelines>

    <services>
      <configurator type="DSP.Business.Search.DependencyInjection.RegisterDependencies, DSP.Business.Search"/>
      <configurator type="DSP.Feature.Search.DependencyInjection.RegisterDependencies, DSP.Feature.Search"/>
    </services>

  </sitecore>
</configuration>