<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="DSP.Feature.Search" description="Feature Search" dependencies="DSP.Foundation" patch:after="configuration[@name='DSP.Foundation']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Features\Search\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Deloitte/Features/Search" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Features/Search" />
            <include name="EditFrameButtons" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/DSP/Features/Search" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>