<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/Layouts/Errors/500.aspx" xdt:Transform="Replace">
      <error statusCode="500" redirect="~/Layouts/Errors/500.aspx"/>
      <error statusCode="404" redirect="/errors/404"/>
    </customErrors>
  </system.web>

  <system.webServer>
    <httpErrors xdt:Transform="Insert" errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/Layouts/Errors/500.aspx" responseMode="ExecuteURL" />
      <error statusCode="404" prefixLanguageFilePath="" path="/errors/404" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

</configuration>
