@model ContextRenderingModel<DSP.Feature.TemplatesModules.Modules.TemplatesModules.Content.Header.ContentHeader>

<header class="content-header">
    <div class="l-padding">
        <h1>@Model.ViewModel.Title</h1>
    </div>
</header>