<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.ExampleForms" description="Example Forms" dependencies="Foundation" patch:after="configuration[@name='Feature.Search']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Features\ExampleForms\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--Master Items-->
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Features/Example Forms" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>