@model DSP.Feature.TemplatesModules.Modules.TemplatesModules.Content.IFrame.IFrameRendering

<div class="cm-iframe">
    <iframe src="@Model.ViewModel.GeneralLink.Url" title="@Model.ViewModel.Title"
            style="width:100%; height:@Model.ViewModel.Height;" frameborder="0" scrolling="yes"></iframe>
</div>

