<div class="l-layout l-landing cf">
    @Html.Sitecore().Placeholder("container-top")
    <!-- START .l-content-container -->
    <div class="l-content-container l-padding cf">
        <!-- START .l-content-column -->
        <body class="l-content-column">
            <!-- START .l-main -->
        <main id="main" tabindex="-1" role="main" class="l-main">
            @Html.Sitecore().Placeholder("main")
        </main>
            <!-- END .main -->
        </body>
        <!-- END .l-content-column -->
    </div>
    <!-- END .l-content-container -->
</div>