<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <!-- Used for: Sitemap.xml generation -->
        <processor type="DSP.Feature.TemplatesModules.Layouts.HttpRequestProcessors.XmlSitemapProcessor, DSP.Feature.TemplatesModules"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>

    <services>
      <configurator type="DSP.Feature.TemplatesModules.DependencyInjection.RegisterDependencies, DSP.Feature.TemplatesModules" />
    </services>
  </sitecore>
</configuration>