<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="DSP.Feature.TemplatesModules" description="DSP Feature Templates and Modules" dependencies="DSP.Foundation,DSP.Feature.Search" patch:after="configuration[@name='DSP.Feature.Search']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Features\TM\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--Master Items-->
            <include name="Templates" database="master" path="/sitecore/templates/Deloitte/Features/TemplatesModules" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Features/TemplatesModules" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Default" />
            <!--Core Items-->
            <include name="ExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/DSP/Features/TemplatesModules" />
            <include name="EditFrameButtons" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/DSP/Features/TemplatesModules" />
            <include name="RichTextMediumProfile" database="core" path="/sitecore/system/Settings/Html Editor Profiles/DSP/Rich Text Medium" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>