@model DeloitteDigital.Atlas.Mvc.ErrorHandling.ErrorRenderingModel

<div style="color: red;">
    <b>Error rendering @Model.RenderingName</b>
    <pre style="color: black">
           @Model.Exception
        </pre>
</div>