<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="DSP.Site.Dspstarter" description="Dspstarter Site (no content)" dependencies="DSP.Foundation,DSP.Feature.Search,DSP.Feature.TemplatesModules">
          <targetDataStore physicalRootPath="$(sourceFolder)\Sites\dspstarter\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Deloitte/Sites/dspstarter" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/dspstarter" />
            <include name="TriageWorkflowSetting" database="master" path="/sitecore/content/Configuration/Triage Workflow Settings/dspstarter" />
          </predicate>
          <!--Roles-->
          <!-- DEV NOTE - Once a custom domain has been created, uncomment below to add those roles into source control. 
          The other custom roles are captured as a part of Foundation roles serialization. Sitecore out-of-box roles are not in source control. -->
          <!--<roleDataStore physicalRootPath="$(sourceFolder)\Sites\dspstarter\serialization\Roles" type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
          <include domain="ExampleSite" />
          </rolePredicate>
          <roleSyncConfiguration removeOrphans="false" type="Unicorn.Roles.Loader.DefaultRoleSyncConfiguration, Unicorn.Roles" singleInstance="true" />-->
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>