<!--
	Content configuration file

	This file tracks all content items for the site. It can be used to sync content across all development/CI environments.
  It can also be used to baseline content on other environments on a first deployment but should be *emptied out or removed* afterwards. 
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="DSP.Site.Dspstarter.Content" description="Dspstarter Site (Content)" dependencies="DSP.Site.Dspstarter">
          <targetDataStore physicalRootPath="$(sourceFolder)\Sites\dspstarter\serialization.content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Content" database="master" path="/sitecore/content/dspstarter" />
            <include name="Media" database="master" path="/sitecore/media library/dspstarter" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>