<button class="link-icon search-toggle js-popover-toggle" type="button" role="button" aria-label="Toggle search" data-popover-id="global-search">
    <span class="icon svg-search-black" data-grunticon-embed></span>
    <span class="icon svg-close-grey" data-grunticon-embed></span>
    <span class="vh">Toggle search</span>
</button>
