<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <system.web>
    <!-- DOH-990 - set customerror off to help with test and reporting bugs -->
    <!--<customErrors mode="Off" xdt:Transform="SetAttributes(mode)" />-->
    <!-- Set compilation configuration to debug, for the same reason as above. -->
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
  </system.web>

  <system.net xdt:Transform="Insert">
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" proxyaddress="http://10.42.253.9:80" bypassonlocal="True" />
    </defaultProxy>
  </system.net>
</configuration>