@model DSP.Feature.Search.Modules.Search.Results.DefaultResult.DefaultResultModel

<li>
    <div class="collection-item">
        <div class="content">
            <h2><a href="@Model.Url">@Model.Title</a></h2>
            <p>@Model.Summary</p>
        </div>
    </div>
</li>