<div class="l-layout l-one-column cf">
    @Html.Sitecore().Placeholder("container-top")
    <div class="l-content-container l-padding cf">
        <div class="l-content-column">
            <main id="main" tabindex="-1" role="main" class="l-main">
                @Html.Sitecore().Placeholder("main")
            </main>
        </div>
    </div>
    <!-- .ContactBar -->
    @Html.Sitecore().Placeholder("container-bottom")
</div>